@tailwind base;
@tailwind components;
@tailwind utilities;

/* style scrollbar */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#view-box::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
/* our style components */
@layer components {
    .input {
        @apply w-full rounded-md border border-gray-200 px-4 py-2 transition-all duration-300 focus:outline-none focus:ring;
    }
}
.spinner {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #4e46e566;
    border-right-color: #4f46e5;
    animation: s2 1s infinite linear;
}
@keyframes s2 {
    to {
        transform: rotate(1turn);
    }
}

a.active {
    color: white;
    background: linear-gradient(to right, rgb(8 42 91) 20%, #0c1a38);
    border-left: 4px solid;
}
a.active svg {
    color: white;
}
